/* 基本样式 */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	color: #fff;
	padding: 10px 0;
	background: url('../img/bg.jpg') no-repeat;
	background-size: cover;
	height: 1080px;
}

nav {
	margin-top: 840px;
	height: 80px;
	line-height: 80px;
	background: rgba(255, 255, 255, 0.4);
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

nav ul li a:hover,
nav ul li active {
	color: #fccc08;
}

.main {
	background-color: #ed4600;
	background-image: linear-gradient(0deg, #e7a31a 0%, #ed4600 55%, #410401 100%);
	padding: 330px 0 10px 0;
	margin-top: 0;
	position: absolute;
	width: 100%;
}

.content {
	padding: 20px;
	width: 1005px;
	margin: 0 auto;
	margin-top: -480px;
	border-radius: 10px;
	background: #fde9c4;
	margin-bottom: 160px;
}

.content .top {
	background: #fde9c4 url(../img/top.jpg);
	height: 38px;
	width: 1005px;
	background-size: cover;
	text-align: center;
	font-size: 18px;
	line-height: 32px;
	font-weight: bolder;
	color: #e16106;
}

.content .center {
	background: #b79967;
	width: 940px;
	margin: 0 auto;
	padding: 20px;
}

.content .center .table {
	width: 100%;
	border-collapse: collapse;
	color: white;
}

.content .center th,
.content .center td {
	padding: 10px;
	text-align: center;
}

.content .center th {
	background: #f9ca0b;
	border: 1px solid #f9ca0b;
}

.content .center td {
	color: #f17502;
	background: #fde9c4;
	border: 1px solid #b79967;
}

.content .center .alert {
	background: #fde9c4;
	color: #e16106;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.content .center .start {
	background: url(../img/tb.jpg);
	width: 800px;
	height: 600px;
	background-size: cover;
	margin: 20px auto;
	border-radius: 10px;
	display: block;
}

.content .center .start .btn-go {
	padding: 15px 30px;
	background: #fed402;
	border-radius: 5px;
	color: #ff7302;
	font-size: 24px;
	margin-top: 300px;
	position: absolute;
	margin-left: 320px;
	cursor: pointer;
}

.content .center .start .btn-go:hover {
	color: #fff;
	background: #ff7302;
}

.content .center .run {
	display: none;
}

.content .center .column-container {
	display: flex;
	/* 使用弹性盒子布局 */
	justify-content: space-between;
	/* 在列之间均匀分布空间 */
	margin-top: 20px;
}

.content .center .column {
	width: 30%;
	/* 每列的宽度为30% */
	padding: 20px;
	/* 列内边距 */
	border: 1px solid #ccc;
	/* 列边框样式 */
	box-sizing: border-box;
	/* 盒子模型设置为边框盒子 */
	text-align: center;
}

.content .center .column label {
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #666;
}

.content .center .column img {
	width: 250px;
	border-radius: 5px;
}

.content .center .column p {
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
}

.content .center .product-container {
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #f9ca0b;
	padding: 50px 20px;
}

.content .center .product-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.content .center .product-name {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}

.content .center .product-description {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: left;
}

.content .center .additional-info {
	font-size: 14px;
	color: #666;
}

.content .center .form {
	padding: 20px;
	text-align: center;
}

.content .center .form label {
	font-size: 14px;
	color: #333;
}

.content .center .form .gd-info {
	color: #fcd109;
	font-size: 18px;
}

.content .center .form .input {
	border: none;
	height: 30px;
	line-height: 30px;
	outline: none;
	border-radius: 5px;
	color: #000;
	width: 320px;
	margin-bottom: 20px;
	font-size: 16px;
	text-indent: 10px;
}

.content .center .form .btn {
	background: #e65806;
	border: none;
	width: 370px;
	height: 50px;
	line-height: 40px;
	font-size: 16px;
	color: #fcd109;
	border-radius: 5px;
	cursor: pointer;
}

.content .center .form .un {
	pointer-events: none;
	background: #999;
	color: #666;
	cursor: not-allowed;
}

.content .center .gd {
	margin: 0 auto;
	padding: 20px;
}

.content .center .gd .an {
	position: absolute;
	font-size: 18px;
	color: #fdcf08;
	width: auto;
	padding: 5px;
	margin-left: 520px;
	opacity: 0;
}

.content .center .gd .fading-text {
	animation: fade-in-out 3s ease-in-out alternate;
}

.content .center .gd .bg {
	background: url(../img/gd.jpg);
	width: 900px;
	height: 500px;
	margin: 0 auto;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

@font-face {
	font-family: 'WenCangShuFang';
	src: url('../img/WenCangShuFang-2.ttf') format('truetype');
}

.content .center .gd .bg .font {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 72px;
	text-align: center;
	white-space: nowrap;
	font-family: 'WenCangShuFang';
	margin-left: -40px;
	color: #616161;
}

.content .center .gd .bg .fading-glow {
	animation: glow 3s ease-in-out alternate;
}

.content .bottom {
	background: url(../img/bottom.jpg);
	height: 38px;
	width: 1005px;
	background-size: cover;
}

@keyframes glow {
	0% {
		color: #616161;
		text-shadow: 0 0 10px #fdcf08;
	}
	100% {
		color: #fdcf08;
		text-shadow: 0 0 20px #fdcf08;
		/* 可以根据需要增加光晕的大小 */
	}
}

@keyframes fade-in-out {
	0%,
	100% {
		opacity: 0;
		/* 开始和结束时文本透明 */
	}
	50% {
		opacity: 1;
		/* 中间时文本完全可见 */
	}
}